@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.centering {
  @include flexbox.flexbox(center, center);
  width: 100%;
  flex-direction: column;
  .title {
    width: 400px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    color: colors.$BLACK;
    text-align: center;
    letter-spacing: -0.018em;
    @include responsive.between(0px, 800px) {
      width: 320px;
      font-size: 25px;
    }
  }

  .inputForm {
    @include flexbox.flexbox(between, center);
    @include responsive.between(0px, 800px) {
      width: 80%;
    }
    width: 50%;
    height: 60px;
    padding-left: 10px;
    overflow: hidden;
    background: colors.$WHITE;
    border-radius: 50px;
    .searchIcon {
      fill: colors.$GRAY6;
      margin-left: 10px;
    }
    .input {
      width: 100%;
      padding-left: 10px;
      font-size: 20px;
      color: colors.$BLACK;
      border-radius: 10px;
    }

    .input[type='search']::placeholder {
      font-size: 20px;
      color: colors.$GRAYD;
    }
  }

  .ul {
    @include flexbox.flexbox(start, start);
    width: 50%;
    max-height: 40vh;
    flex-direction: column;
    margin-top: 10px;
    background-color: colors.$WHITE;
    border-radius: 20px;
    overflow: scroll;
    @include responsive.between(0px, 800px) {
      width: 80%;
    }
    .item {
      @include flexbox.flexbox(start, center);
      width: 100%;
      flex-direction: row;
      padding-left: 10px;
      &:hover,
      &:focus {
        cursor: pointer;
        background-color: colors.$GRAYD;
        border-radius: 5px;
      }
    }
    .search {
      padding: 20px;
    }
  }
}
.focusedItem {
  background-color: colors.$GRAYD;
  border-radius: 5px;
}
