@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.loadingAndError {
  @include flexbox.flexbox(center, center);
  width: 100%;
  flex-direction: column;
  padding: 20px;
  background-color: colors.$WHITE;
  border-radius: 20px;
}
