@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.loadingAndError {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 700px;
  padding: 20px;
  background-color: colors.$WHITE;
  border-radius: 20px;
}
