@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.centering {
  @include flexbox.flexbox(center, center);
  flex-direction: column;

  .title {
    width: 450px;
    padding-bottom: 10px;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.6;
    color: colors.$BLACK;
    text-align: center;
    letter-spacing: -0.018em;
  }

  .form {
    @include flexbox.flexbox(between, center);
    position: static;
    width: 700px;
    min-height: 60px;
    max-height: 60px;
    padding-left: 10px;
    overflow: hidden;
    background: colors.$WHITE;
    border-radius: 50px;

    .inputForm {
      width: 80%;
      height: 60px;
      padding: 2px;
      margin: 2px;
      @include flexbox.flexbox(start, center);

      .searchIcon {
        fill: colors.$GRAY6;
      }

      .input {
        width: 100%;
        padding-left: 10px;
        font-size: 20px;
        color: inherit;
        color: colors.$BLACK;
        border-radius: 10px;
      }

      .input[type='search']::placeholder {
        font-size: 20px;
        color: colors.$GRAYD;
      }
    }

    .button {
      @include flexbox.flexbox(start, center);
      width: 15%;
      height: 60px;
      padding: 18px 32px;
      font-size: 18px;
      font-weight: 700;
      color: colors.$WHITE;
      letter-spacing: -0.018em;
      cursor: pointer;
      background-color: colors.$BLUE;
    }
  }

  .ul {
    @include flexbox.flexbox(start, start);
    flex-direction: column;
    width: 700px;
    height: 100%;
    margin-top: 10px;
    background-color: colors.$WHITE;
    border-radius: 20px;

    .search {
      padding: 20px;
    }
  }
}
