@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.centering {
  @include flexbox.flexbox(center, center);
  flex-direction: column;

  h1 {
    width: 450px;
    padding-bottom: 10px;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.6;
    color: colors.$BLACK;
    text-align: center;
    letter-spacing: -0.018em;
  }

  form {
    @include flexbox.flexbox(between, center);
    display: flex;
    width: 700px;
    height: 70px;
    padding-left: 10px;
    overflow: hidden;
    background: colors.$WHITE;
    border-radius: 50px;

    .input {
      width: 80%;
      padding: 2px;
      margin: 2px;
      @include flexbox.flexbox(start, center);

      path {
        fill: colors.$GRAY6;
      }

      input {
        width: 100%;
        padding-left: 10px;
        font-size: 20px;
        color: inherit;
        color: colors.$BLACK;
        border-radius: 10px;
      }

      input[type='search']::placeholder {
        font-size: 20px;
        color: colors.$GRAYD;
      }
    }

    button {
      width: 15%;
      height: 100%;
      padding: 18px 32px;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.6;
      color: colors.$WHITE;
      letter-spacing: -0.018em;
      cursor: pointer;
      background-color: colors.$BLUE;
    }
  }
}
