@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.items {
  @include flexbox.flexbox(start, center);
  width: 90%;
  height: 45px;
  padding-left: 10px;
  font-size: 15px;
  color: colors.$BLACK;
  overflow: hidden;
  white-space: nowrap;
  .icon {
    min-width: 20px;
    margin-right: 5px;
  }
  path {
    fill: colors.$GRAY6;
  }
}
