@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
.centering {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
}
h1 {
  width: 450px;
  font-size: 2.125rem;
  font-weight: 700;
  color: colors.$BLACK;
  letter-spacing: -0.018em;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 10px;
}
form {
  @include flexbox.flexbox(between, center);
  background: colors.$WHITE;
  display: flex;
  border-radius: 50px;
  width: 700px;
  height: 70px;
  padding-left: 10px;
  overflow: hidden;
  .input {
    margin: 2px;
    padding: 2px;
    width: 80%;
    @include flexbox.flexbox(start, center);
    path {
      fill: colors.$GRAY6;
    }
    input {
      padding-left: 10px;
      font-size: 20px;
      color: inherit;
      border-radius: 10px;
      color: colors.$BLACK;
      width: 100%;
    }
    input[type='search']::placeholder {
      color: colors.$GRAYD;
      font-size: 20px;
    }
  }
  button {
    background-color: colors.$BLUE;
    color: colors.$WHITE;
    height: 100%;
    width: 15%;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.018em;
    line-height: 1.6;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer;
  }
}
